@model Web_Kladilnica.Models.Game

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Coefficient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coefficient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Completed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Completed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HalfTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HalfTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.League)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.League)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
