@model Web_Kladilnica.Models.Betting_Ticket

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Betting_Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Invested)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Invested)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SumCooef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SumCooef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SumWin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SumWin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Won)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Won)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
