@model Web_Kladilnica.Models.TicketCreateModel

@{
    ViewBag.Title = "CreateTicket";
}

<h2>CreateTicket</h2>


@using (Html.BeginForm("CreateTicket","Home"))
{

<div class="form-horizontal">
    <h4>Ticket</h4>
    <hr />
    <table class="table table-striped">
        <tr>
            <th>Team 1</th>
            <th>Team 2</th>
            <th>Coefficient</th>
            <th>Selected outcome</th>
            <th>Result</th>
            <th>Start Time</th>
            <th>End Time</th>
        </tr>

        @for(int i=0;i<Model.games.Count;i++)
        {
            var item=Model.games[i];
            <tr>
                @Html.HiddenFor(m=>Model.gameIds[i])
                @Html.HiddenFor(m=>Model.guesses[i])
                <td>
                    <img src="@item.team1.BadgeUrl" width="35px" height="35px" />
                    @Html.DisplayFor(modelItem => item.team1.Name)
                </td>
                <td>
                    <img src="@item.team2.BadgeUrl" width="35px" height="35px" />
                    @Html.DisplayFor(modelItem => item.team2.Name)
                </td>
                <td>
                    @if (Model.guesses[i] == 0)
                    {
                        <span>@item.Coefficient2</span>
                    }
                    @if (Model.guesses[i] == 1)
                    {
                        <span>@item.Coefficient1</span>
                    }
                    @if (Model.guesses[i] == 2)
                    {
                        <span>@item.Coefficient3</span>
                    }
                </td>
                <td>
                    @if (Model.guesses[i] == 0)
                    {
                        <span>X</span>
                    }
                    @if (Model.guesses[i] == 1)
                    {
                        <span>1</span>
                    }
                    @if (Model.guesses[i] == 2)
                    {
                        <span>2</span>
                    }


                </td>
                <td>
                    @if (!item.completed)
                    {
                        <p>Game not completed yet.</p>
                    }
                    else
                    {
                        if (item.outcome == 0)
                        {
                            <p>Even</p>
                        }

                        if (item.outcome == 1)
                        {
                            @item.team1.Name <span>Victory</span>
                        }
                        if (item.outcome == 2)
                        {
                            @item.team2.Name <span>Victory</span>
                        }

                    }

                </td>
                <td>
                    @item.start.ToShortDateString() @item.start.ToShortTimeString()
                </td>
                <td>
                    @item.end.ToShortDateString() @item.end.ToShortTimeString()
                </td>
            </tr>

        }
    </table>
    <div class="form-group">
        @Html.LabelFor(model=>model.totalCoefficient,htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.totalCoefficient, new { htmlAttributes = new { @class = "form-control", @readonly="readonly" } })
            </div>
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.moneyInvested, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.moneyInvested, new { htmlAttributes = new { @class = "form-control investiranje" } })
                @Html.ValidationMessageFor(model => model.moneyInvested, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Future Winnnings</label>
            <div class="col-md-10">
                <input type="text" disabled class="form-control winnings" value="0" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
  
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script>
    $("#moneyInvested").change(function () {

        
        var moneyinv = $(this).val();
        var money;
        if (!isNaN(moneyinv)){
            money = moneyinv *@Model.totalCoefficient;
                $(".winnings").val(money);
        }
        
    })
    </script>
}
