@model Web_Kladilnica.Models.Ticket

@{
    ViewBag.Title = "CreateTicket";
}

<h2>CreateTicket</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Ticket</h4>
        <hr />
            <table class="table table-striped">
                <tr>
                    <th>Team 1</th>
                    <th>Team 2</th>
                    <th>Coefficient</th>
                    <th>Selected outcome</th>
                    <th>Result</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
                <tr>
                    @foreach (var game in Model.games)
                    {
                    <tr>
                        <td>
                            <img src="@game.Team1.BadgeUrl" width="35px" height="35px" />
                            @Html.DisplayFor(modelItem => game.Team1.Name)
                        </td>
                        <td>
                            <img src="@game.Team2.BadgeUrl" width="35px" height="35px" />
                            @Html.DisplayFor(modelItem => game.Team2.Name)
                        </td>
                        <td>
                            @if (game.selectedCoefficient == 1)
                {
                                @game.Coefficient1
                }
                            @if (game.selectedCoefficient == 0)
                {
                                @game.Coefficient2 
                }
                            @if (game.selectedCoefficient == 2)
                {
                                @game.Coefficient3
                }


                        </td>
                        <td>
                            @if (game.selectedCoefficient == 1)
                            {
                               <span>1</span>
                            }
                            @if (game.selectedCoefficient == 0)
                            {
                                <span>X</span>
                            }
                            @if (game.selectedCoefficient == 2)
                            {
                                <span>2</span>
                            }
                        </td>
                        <td>
                            @if (!game.Completed)
                            {
                                <p>Game not completed yet.</p>
                            }
                            else
                            {
                                if (game.Result == 0)
                                {
                                    <p>Even</p>
                                }

                                if (game.Result == 1)
                                {
                                    @game.Team1.Name <span>Victory</span>
                                }
                                if (game.Result == 2)
                                {
                                    @game.Team2.Name <span>Victory</span>
                                }

                            }

                        </td>
                        <td>
                            @game.StartTime.Day/@game.StartTime.Month/@game.StartTime.Year @game.StartTime.Hour:@game.StartTime.Minute
                        </td>
                        <td>
                            @game.EndTime.Day/@game.EndTime.Month/@game.EndTime.Year @game.EndTime.Hour:@game.EndTime.Minute
                        </td>
                    </tr>
                }
                </table>
            <div class="form-group">
                @Html.LabelFor(model => model.totalCoefficient, htmlAttributes: new { @class = "control-label col-md-2" })
                <span class="form-control-static"> @Model.totalCoefficient</span>
            </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.moneyInvested, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.moneyInvested, new { htmlAttributes = new { @class = "form-control investiranje" } })
                @Html.ValidationMessageFor(model => model.moneyInvested, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Future Winnnings</label>
            <input type="text" disabled class="form-control winnings" value="0" />
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script>
    $("#moneyInvested").change(function () {
        
        var moneyinv = $(this).val();
        var money;
        if (!isNaN(moneyinv)){
            money = moneyinv *@Model.totalCoefficient;
                $(".winnings").val(money);
        }
        
    })
        $(document).ready(function () {
            $("#moneyInvested").change();
        })
    </script>
}
