@model  Web_Kladilnica.Models.TicketGamesView

@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/Content/css")
<script src="~/Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
<script src="https://kit.fontawesome.com/8eb5fa4392.js"></script>
<div class="row">
    <div class="col-md4" style="margin-left:46%;margin-top:1em;font-size:1.6vw">
        <span class="prev-day" style="cursor:pointer;font-size:1.8vw" datum=@DateTime.Now.AddDays(-1).ToShortDateString()><</span><span class="label label-primary den" style="margin:0 1.5% 0 1.5%" datum=@DateTime.Now.ToShortDateString()>Today</span><span class="next-day" style="cursor:pointer;font-size:1.8vw" datum=" datum=@DateTime.Now.AddDays(1).ToShortDateString()">></span>
    </div>
</div>
<ul class="nav nav-tabs">
    <li role="presentation" class="active" sport="Football"><a href="#" onclick="loadGames('Football')"><i class="fas fa-futbol"></i> Football</a></li>
    <li role="presentation" sport="Basketball"><a href="#" onclick="loadGames('Basketball')"><i class="fas fa-basketball-ball"></i> Basketball</a></li>
    <li role="presentation" sport="Baseball"><a href="#" onclick="loadGames('Baseball')"><i class="fas fa-baseball-ball"></i> Baseball</a></li>
</ul>
<div class="igri">
    @Html.Action("GamesPartial", "Home", new { izbor = "Football" })
</div>
<br />
@using (Html.BeginForm("CreatingTicket", "Home"))
{
    @Html.HiddenFor(m => m.ids)
    @Html.HiddenFor(m => m.gameCoef)
    <button type="submit" class="btn btn-primary previewKopce" onclick="updateStuff()">Preview </button>

}
<style>
</style>
@section scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery-3.3.1.js"></script>

    <script>
        var TypeOfCoef = [];
        var GameId = [];
        var i = 0;
       const ClickCoef = function(){

            var flag = false;
            var StoppedId;
            for (var j = 0; j < i; j++) {
                if (GameId[j] == event.target.name.toString()) {
                    flag = true;
                    StoppedId = j;
                    break;
                }
            }
            if (flag == false) {
                GameId[i] = event.target.name.toString();
                TypeOfCoef[i] = event.target.id.toString();
                i++;
            }
            else {
                TypeOfCoef[StoppedId] = event.target.id.toString();
            }
        }
        const updateStuff = function () {
            document.getElementById("ids").value = GameId;
                document.getElementById("gameCoef").value = TypeOfCoef;
        }
        var aktivno = $(".active").attr("sport");
        const loadGames = function (tip) {
            
            $.ajax({
                type: "POST",
                url: "/Home/GamesPartial/",
                data: { izbor: tip },
                success: function (result) {
                    $(".igri").html(result);
                    proveriZavrseno();
                }
            })
            
        }
        const proveriZavrseno = function () {
             $("tr").each(function (id, item) {
                    if ($(item).attr("zavrsen") == "True") {
                        $(item).addClass("bg-warning");
                    }
                })
        }

        $(document).ready(function () {
            proveriZavrseno();
            $(".previewKopce").click(function (e) {
                if (GameId == "") {
                    e.preventDefault();
                    alert("You havent selected a coefficient.");
                }
            })
                $("li").click(function () {
                    aktivno = $(this).attr("sport");
                    $(this).addClass("active").siblings().removeClass("active");

                })
               
                


            });




    </script>
}