@model IEnumerable<Web_Kladilnica.Models.TicketDisplayViewModel>

@{
    ViewBag.Title = "ViewTickets";
}

<h2>ViewTickets</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.moneyInvested)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.totalCoefficient)
        </th>
        <th>
            Games
        </th>
        <th>
            @Html.DisplayNameFor(model => model.futureWinnings)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Result)
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.moneyInvested)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.totalCoefficient)
    </td>
    <td>
        <table class="table table-condensed">
            @for (int i = 0; i < item.games.Count; i++)
            {
                var game = item.games[i];
                <tr>
                    <td>
                        <img src="@game.Team1.BadgeUrl" width="35px" height="35px" />
                        @Html.DisplayFor(modelItem => game.Team1.Name)
                    </td>
                    <td>
                        <img src="@game.Team2.BadgeUrl" width="35px" height="35px" />
                        @Html.DisplayFor(modelItem => game.Team2.Name)
                    </td>
                    <td>
                        @if (item.guesses[i] == 0)
                        {
                            <span>@game.Coefficient2</span>
                        }
                        @if (item.guesses[i] == 1)
                        {
                            <span>>@game.Coefficient1</span>
                        }
                        @if (item.guesses[i] == 2)
                        {
                            <span>>@game.Coefficient3</span>
                        }
                    </td>
                    <td>
                        @if (!game.Completed)
                        {
                            <p>Game not completed yet.</p>
                        }
                        else
                        {
                            if (game.Result == 0)
                            {
                                <p>X</p>
                            }
                            else
                            {
                                @game.Result
                            }
                        }


                    </td>
                </tr>

            }
        </table>
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.futureWinnings)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Result)
    </td>

</tr>

        }


        </table>
