@model IEnumerable<Web_Kladilnica.Models.Game>

<p>
    @Html.ActionLink("Create New", "CreateGame")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Completed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HalfTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sport)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Coefficient1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Coefficient2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Coefficient3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.League)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.selectedCoefficient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team2)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Completed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HalfTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sport)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Coefficient1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Coefficient2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Coefficient3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.League)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.selectedCoefficient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team1.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team2.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
