@model IEnumerable<Web_Kladilnica.Models.Game>



<table class="table table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Team1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team2)
        </th>
        <th>
            Score
        </th>
        <th>
            Time
        </th>
        <th>
            1 x 2
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Completed)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        var IDGame = item.ID;
        <tr>
            <td>
                <img src="@item.Team1.BadgeUrl" width="35px" height="35px" />
                @Html.DisplayFor(modelItem => item.Team1.Name)
            </td>
            <td>
                <img src="@item.Team2.BadgeUrl" width="35px" height="35px" />
                @Html.DisplayFor(modelItem => item.Team2.Name)
            </td>
            <td>
                @item.team1Score:@item.team2Score
            </td>
            <td>
                @DateTime.Now.Subtract(item.StartTime).Minutes
            </td>
            <td>
                <div class="btn-group">
                    <input type="button" value="@item.Coefficient1.ToString()" id="c1" name="@item.ID" onclick="ClickCoef()" class="btns"  />
                    <input type="button" value="@item.Coefficient2.ToString()" id="c2" name="@item.ID" onclick="ClickCoef()" class="btns" />
                    <input type="button" value="@item.Coefficient3.ToString()" id="c3" name="@item.ID" onclick="ClickCoef()" class="btns" />
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Completed)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
<input type="text" id="testerC" />
<input type="text" id="testerId" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script>
                        $('.btns').on('click', function () {
                         $(this).addClass("btn-success").siblings().removeClass("btn-success");
                    })
 /*   var TypeOfCoef = [];
    var GameId = [];
    var i = 0;
    function ClickCoef() {
    
        var flag = false;
        var StoppedId;
        for (var j = 0; j < i; j++) {
            if (GameId[j] == event.target.name.toString()) {
                flag = true;
                StoppedId = j;
                break;
            }
        }
        if (flag == false) {
            GameId[i] = event.target.name.toString();
            TypeOfCoef[i] = event.target.id.toString();
            i++;
        }
        else {
            TypeOfCoef[StoppedId] = event.target.id.toString();
        }
        document.getElementById("testerC").value = TypeOfCoef.join('\n');
        document.getElementById("testerId").value = GameId.join('\n');
    }

   $(document).ready(function () {
       $('.btns').on('click', function () {
           
           $(this).addClass("btn-success").siblings().removeClass("btn-success");
       });
   });*/
</script>