@model IEnumerable<Web_Kladilnica.Models.Team>

@{
    ViewBag.Title = "List of Teams";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BadgeUrl)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img src="@item.BadgeUrl" width="50px" height="50px" />
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                <button team-ID=@item.ID class="btn btn-link brisi" onclick="brisiTim(@item.ID)">Delete</button>
            </td>
        </tr>
    }

</table>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    const brisiTim = function (idto) {
        var sel = "[team-ID=" + idto + "]";
        var btn = $(sel);
            var sigurnost = confirm("Are you sure you want to delete this team(The games that have this team in them will also be deleted)?");
            if (sigurnost == true) {
                $.ajax({
                    method: "POST",
                    url: "/Teams/DeleteTeam/" + btn.attr("team-ID"),
                    success: function () {
                       btn.parents("tr").remove();
                    }
                })
            }
        
                
        }
</script>